:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --white-color: #fff;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.btn.dark {
  background: var(--dark-blue-color);
}

.btn.light {
  background: var(--orange-color);
}

.btn.enroll-icon::before {
  content: url("/images/enroll-icon.png");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* Header */

header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  z-index: 100;
  margin-top: 10px;
}

nav .logo {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Hero section */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left h1 {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 125%;
  margin-bottom: 0;
}

.hero-section .left p {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  margin-bottom: 30px;
  width: 457px;
}
.hero-section .left {
  flex: 1;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  height: 520px;
  vertical-align: middle;
}

.achievement-card {
  position: absolute;
  min-width: 200px;
}

.achievement-card .content {
  border-radius: 24px;
  background: var(--white-color);
  padding: 8px 32px;
  position: relative;
  z-index: 10;
}

.achievement-card.students-enrolled {
  left: 49%;
  top: 270px;
  margin: 0;
}

.achievement-card.overall-rating {
  left: 47%;
  top: 470px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.achievement-card h3 {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  width: 100%;
}

.achievement-card p {
  color: #023047;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: -8px;
}

.achievement-card .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  z-index: 1;
  top: 8px;
  left: 8px;
}

/* Testimonial Section */
.testimonial-section {
  display: flex;
  gap: 134px;
  align-items: center;
  margin-top: 100px;
  position: relative;
}

.testimonial-section .testimonial-card {
  width: 442px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  position: relative;
}

h2 {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 900;
}

h2.light {
  color: var(--white-color);
  text-align: center;
}

.testimonial-section .testimonial-card .content {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;
  border-radius: 24px;
  background: var(--light-blue-color);
  padding: 24px 32px;
}

.testimonial-section .testimonial-card .info h4 {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.testimonial-section .testimonial-card .info {
  padding: 24px 32px;
}

.testimonial-section .testimonial-card p.company {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.testimonial-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonial-section .testimonial-card:nth-child(2) .content {
  background: var(--orange-color);
}

.testimonial-section .testimonial-card:nth-child(2) {
  transform: translateX(20px);
}

.testimonial-section .left .vertical-line {
  height: 570px;
  border: 15px solid var(--dark-blue-color);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 90px;
  z-index: -1;
}

.testimonial-section .right p {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.testimonial-section .right a {
  padding: 16px 32px;
  margin-top: 30px;
}

.testimonial-section .mobile-btn {
  display: none;
}

/* Courses Section */
.courses-section {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  margin-top: 100px;
  padding-top: 10px;
  width: 1366px;
  height: 785px;
  flex-shrink: 0;
}

.course-cards {
  display: flex;
  gap: 73px;
  justify-content: center;
}

.course-card {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 462px;
  border-radius: 24px;
  background: #fff;
  display: flex;
  width: 526px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.course-card img {
  border-radius: 24px;
}

.course-card .info {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  flex: 1 0 0;
}

/* .wrapper .light {
  padding-top: 70px;
} */

.course-card .info h3 {
  width: 100%;
  color: #023047;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 45px */
  flex: 1 0 0;
}

.course-card .info .duration {
  color: #023047;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

.course-card .info img {
  width: 20px;
  height: 20px;
}

.course-card .horizontal-line {
  border-radius: 24px;
  background: #023047;
  height: 8px;
  align-self: stretch;
}

.course-card .time-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.courses-section .btn.light {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  float: right;
  margin-top: 40px;
}

/* App Section */

.app-section h2 {
  color: var(--dark-blue-color);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 72px */
  margin-top: 100px;
  padding: 0;
}

.app-section p {
  color: var(--dark-blue-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app-section p,
.app-section h2 {
  padding: 0;
  margin-bottom: 0;
}

.app-buttons .app-btn {
  background: var(--dark-color);
  display: flex;
  padding: 20px 31px;
}

.app-btn span {
  color: var(--white-color);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 48px */
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 45px;
  margin-bottom: 100px;
}

/* Footer Section */
footer {
  background: #070917;
  margin-top: 100px;
  padding-bottom: 70px;
}

.links-container {
  display: flex;
  justify-items: center;
  gap: 206px;
}

.links-container .links h3 {
  color: var(--orange-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.links ul a {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  display: block;
  padding-bottom: 9px;
}

.links .mail {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
}

.links input {
  border-radius: 8px;
  background: var(--white-color);
  width: 521px;
  height: 39px;
}

.links button {
  border-radius: 8px;
  background: #023047;
  width: 135px;
  height: 30px;
}

.links input::placeholder {
  color: var(--dark-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.links input {
  width: 100%;
  padding: 10px 240px 10px 27px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.links .submit-btn {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 135px;
  height: 30px;
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.links .social a img {
  padding-right: 28px;
  margin-bottom: 26px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.copyright {
  color: var(--white-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
